html,
body {
	margin: 0;
	background: #000;
	width: 100%;
	height: 100%;
}

#app {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: transparent;
	pointer-events: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-out {
	from {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/*
https://stackoverflow.com/a/54702294
*/
.rainbow-text {
	background: linear-gradient(
		to right,
		#6666ff,
		#0099ff,
		#00ff00,
		#ff3399,
		#6666ff
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: rainbow-animation 6s linear infinite;
	background-size: 400% 100%;
}

@keyframes rainbow-animation {
	0%,
	100% {
		background-position: 0 0;
	}

	50% {
		background-position: 100% 0;
	}
}
